node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.local
.env
frontend/dist
frontend/*.tsbuildinfo
frontend/tailwind.config.js
frontend/tailwind.config.d.ts
frontend/vite.config.js
frontend/vite.config.d.ts
backend/dist
backend/data
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep
